<h3><%= t('view.staff') + t('view.index') %></h3>

<div class="search_area">
  <%= search_form_for @q, url: staffs_path do |f| %>
    <div>
      <%= f.label :name_cont, t('view.name') %>
      <%= f.search_field :name_cont, placeholder: t('view.placeholder.part') %>
    </div>
    <div>
      <%= f.label :admin_eq, t('view.admin') %>
      <%= f.check_box :admin_eq, { include_hidden: nil } %>

      <%= f.submit t('view.search') %>
    </div>
  <% end %>
</div>

<div class="index_area">
  <table>
    <thead>
      <tr>
        <th><%= t('view.name') %></th>
        <th><%= t('view.admin') %></th>
      </tr>
    </thead>
    <tbody>
      <% @staffs.each do |staff| %>
        <tr>
          <td>
            <%= staff.name %>
          </td>
          <td class="admin_mark">
            <%= staff.admin == true ? "○" : "" %>
          </td>
          <td>
            <%= link_to t('view.edit'), edit_staff_path(staff), id: "in-house-edit-staff-#{staff.id}", class: "btn btn-primary", role: "button" %>
            <% unless staff.id == current_staff.id %>
              <%= link_to t('view.destroy'), staff, method: :delete, data: { confirm: t('confirm.delete') }, id: "in-house-delete-staff-#{staff.id}", class: "btn btn-danger", role: "button" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div align="center", class="paginate">
    <%= paginate @staffs %>
  </div>
</div>

<div>
  <%= link_to t('view.staff') + t('view.new') + t('view.create'), new_staff_path, class: "btn btn-outline-primary", role: "button" %>
</div>

<%= link_to t('view.back'), :back, class: "button_06", role: "button" %>