<h3><%= t('view.favorite') + t('view.hospital') + t('view.index') %></h3>

<div class="index_area">
  <table>
    <thead>
      <tr>
        <th><%= t('view.hospital') + t('view.name_of') %></th>
        <td class="small_font"><%= t('view.waiting') %></td>
      <tr/>
    </thead>
    <tbody>
      <% @favorite_hospitals.each do |favorite| %>
        <tr>
          <td><%= link_to favorite.hospital.name, hospital_path(favorite.hospital.id) %></td>
          <td align="center">
            <%= link_to t('view.link'), health_interviews_path(favorite.hospital.id), class: "btn btn-success", role: "button" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>