<p align="center" class="logo">MPASS</p>
<ul>
  <li>
    <%= link_to t('view.top'), root_path, id: "global-navi_top" %>
  </li>
  <li>
    <%= link_to t('view.hospital') + t('view.index'), hospitals_path, id: "global-navi_hospital-index" %>
  </li>
  <% if patient_signed_in? || staff_signed_in? || master_signed_in? %>
    <% if patient_signed_in? %>
      <li>
        <%= link_to t('view.my_page'), patient_path(current_patient.id), id: "global-navi_patient-show" %>
      </li>
      <li>
        <%= link_to t('view.favorite'), favorite_hospitals_path, id: "global-navi_favorite-index" %>
      </li>
      <div class="flex-right">
        <li>
          <%= link_to t('view.sign_out'), destroy_patient_session_path, method: :delete, id: "global-navi_patient-sign-out" %>
        </li>
      </div>
    <% elsif staff_signed_in? %>
      <li>
        <%= link_to t('view.waiting'), health_interviews_path(@hospital), id: "global-navi_in-house-healthinterview-index" %>
      </li>
      <div class="flex-right">
        <li>
          <%= link_to t('view.sign_out'), destroy_staff_session_path, method: :delete, id: "global-navi_staff-sign-out" %>
        </li>
      </div>
    <% else %>
      <li>
        <%= link_to t('view.master') + t('view.menu'), master_path(current_master.id), id: "global-navi_new-hospital" %>
      </li>
      <div class="flex-right">
        <li>
          <%= link_to t('view.sign_out'), destroy_master_session_path, method: :delete, id: "global-navi_master-sign-out" %>
        </li>
      </div>
    <% end %>
  <% else %>
    <div class="flex-right">
      <li>
        <%= link_to t("view.sign_in"), new_patient_session_path, id: "global-navi_sign-in" %>
      </li>
    </div>
    <li>
      <%= link_to t("view.sign_up"), new_patient_registration_path, id: "global-navi_sign-up" %>
    </li>
  <% end %>
</ul>