<%= form_with(model: @staff, local: true) do |f| %>
  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: Staff.model_name.human, count: @staff.errors.count) %></h2>
      <ul>
        <% @staff.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div><%= f.label :name %> <i>(<%= t('view.placeholder.staff_name') %>)</i></div>
    <%= f.text_field :name, autofocus: true, placeholder: t('view.placeholder.name'), autocomplete: "name" %>
  </div>

  <div class="password_field">
    <%= f.label :password %><%= t('view.placeholder.length') %>
    <% if @minimum_password_length %>
    <div><em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em></div>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: t('view.placeholder.password') %>
  </div>

  <div class="password_field">
    <div><%= f.label :password_confirmation %></div>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: t('view.placeholder.password_confirmation') %>
  </div>

  <div class="field">
  <%= f.label t('view.admin') %>
  <%= f.check_box :admin, {}, "true", "false" %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit id: "submit" %>
  </div>
<% end %>

<%= link_to t('view.back'), :back, class: "button_06", role: "button" %>