<%= form_with(model: @staff, local: true) do |f| %>
  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: Staff.model_name.human, count: @staff.errors.count) %></h2>
      <ul>
        <% @staff.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, placeholder: t('view.placeholder.staff_name'), autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label t('view.please_new') %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: t('view.placeholder.password') %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: t('view.placeholder.password_confirmation') %>
  </div>

  <div class="field">
    <%= f.check_box :admin, {}, "true", "false" %>
    <%= f.label t('view.admin') %><br />
  </div>
  <br>

  <div class="actions">
    <%= f.submit id: "submit" %>
  </div>
<% end %>

<button>
  <%= link_to t('view.back'), :back %>
</button>