<% if flash[:recaptcha_error].present? %>
  <p><%= flash[:recaptcha_error] %></p>
<% end %>
<h2><%= t('.sign_in') %></h2>

<%= form_with(model: resource, scope: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.text_field :name, placeholder: "", autofocus: true, autocomplete: :off %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: "", autocomplete: :off %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "" %>
  </div>

  <%= recaptcha_tags %>

  <div class="actions">
    <%= f.submit t('.sign_in') %>
  </div>
<% end %>

