<h2><%= t('.change_your_password') %></h2>

<%= form_with(model: resource, scope: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <div><%= f.label :password, t('.new_password') %></div>
    <% if @minimum_password_length %>
      <div><em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em></div>
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <div><%= f.label :password_confirmation, t('.confirm_new_password') %></div>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('.change_my_password') %>
  </div>
<% end %>

<%= render "staffs/shared/links" %>
