<h3><%= t('view.master') + t('view.menu') %></h3>

<ul align="center">
  <li><%= link_to t('view.new') + t('view.hospital'), new_hospital_path %></li>

  <li><%= link_to t('view.hospital_label') + t('view.index'), hospital_labels_path %></li>

  <li><%= link_to t('view.master') + t('view.index'), masters_path %></li>

  <li><%= link_to t('view.account') + t('view.edit'), edit_master_registration_path(@master) %></li>
</ul>
