<h2><%= t('.sign_in') %></h2>

<%= form_with(model: resource, scope: resource_name, url: session_path(resource_name), local: true) do |f| %>
  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('.sign_in') %>
  </div>
<% end %>


