<h2><%= t('.sign_up') %></h2>

<%= form_with(model: resource, scope: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <% if flash[:recaptcha_error].present? %>
    <p class="margin_left"><%= flash[:recaptcha_error] %></p>
  <% end %>

  <div class="field">
    <div><%= f.label :name %></div>
    <%= f.text_field :name, placeholder: t('view.placeholder.name'), autofocus: true, autocomplete: "name" %>
  </div>

  <div class="email_field">
    <div><%= f.label :email %></div>
    <%= f.email_field :email, placeholder: t('view.placeholder.email'), autocomplete: "email" %>
  </div>

  <div class="password_field">
    <div>
      <%= f.label :password %><%= t('view.placeholder.length') %>
      <% if @minimum_password_length %>
        <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %>
    </div>
      <%= f.password_field :password, placeholder: t('view.placeholder.password'), autocomplete: "new-password" %>
  </div>

  <div class="password_field">
    <div><%= f.label :password_confirmation %></div>
    <%= f.password_field :password_confirmation, placeholder: t('view.placeholder.password_confirmation'), autocomplete: "new-password" %>
  </div>

  <%= recaptcha_tags %>

  <div class="actions">
    <%= f.submit t('.sign_up') %>
  </div>
<% end %>
