<h3><%= @patient.name + t('view.honorific') + t('view.my_page') %></h3>

<% if @last_status.present? %>
  <% if
    @last_status == "waiting" ||
    @last_status == "calling" ||
    @last_status == "pending"
  %>
    <p class="xx-large_font"><%= t('view.your_number_is') + @last_interview.guide_status.id.to_s %></p>
    <%= link_to @hospital.name + " " + t('view.waiting'), health_interviews_path(@hospital) %>

    <div class="message_area">
      <% if @last_status == "waiting" %>
        <div>
          <%= t('view.waiting_befor') + @index.to_s + t('view.people_num') %>
        </div>
        <div>
          <%= simple_format(t('view.message.waiting')) %>
        </div>
      <% elsif @last_status == "calling" %>
        <div>
          <%= simple_format(t('view.message.calling')) %>
        </div>
      <% else %>
        <div>
          <%= simple_format(t('view.message.pending')) %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @last_status == "noshow" %>
    <div>
      <%= simple_format(t('view.message.noshow')) %>
    </div>
  <% elsif @last_status == "payment" %>
    <% if @last_interview.price.present? %>
      <div>
        <%= simple_format(t('view.message.payment')) %>
      </div>
      <div>
        <h4>¥<%= @last_interview.price %></h4>
        <%= form_tag(action: :pay, method: :post) do %>
          <script type="text/javascript"
            src="https://checkout.pay.jp"
            class="payjp-button"
            data-key=<%= ENV['PAYJP_OPEN_KEY'] %>>
          </script>
        <% end %>
        <table>
          <th>~ テスト用データ ~</th>
          <tr>
            <th>カード番号:</th>
            <td>4242424242424242</td>
          </tr>
          <tr>
            <th>有効期限:</th>
            <td>12/30</td>
          </tr>
          <tr>
            <th>CVC:</th>
            <td>123</td>
          </tr>
          <tr>
            <th>カード名義:</th>
            <td>YUI ARAGAKI</td>
          </tr>
        </table>
      </div>
    <% else %>
      <div>
        <%= simple_format(t('view.message.calculating')) %>
      </div>
    <% end %>
  <% elsif @last_status == "complete" %>
    <div>
      <%= simple_format(t('view.message.complete')) %>
    </div>
  <% end %>
<% end %>

<div class="btn">
  <%= link_to t('view.account') + t('view.edit'), edit_patient_registration_path(@patient), class: "btn btn-primary", role: "button" %>
</div>
