<%= form_with(model: @hospital) do |f| %>
  <% if @hospital.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: Hospital.model_name.human, count: @hospital.errors.count) %></h2>
      <ul>
        <% @hospital.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr class="email_field">
      <td><%= f.label :name, t('view.hospital') + t('view.name_of') %></td>
      <td><%= f.text_field :name, placeholder: t('view.placeholder.must') + t('view.placeholder.hospital_name'), autofocus: true, autocomplete: "name" %></td>
    </tr>

    <tr class="email_field">
      <td><%= f.label :email, t('view.email') %></td>
      <td><%= f.email_field :email, placeholder: t('view.placeholder.must') + t('view.placeholder.email'), autocomplete: "email" %></td>
    </tr>

    <tr class="field">
      <td><%= f.label :tel, t('view.tel') %></td>
      <td><%= f.telephone_field :tel, placeholder: t('view.placeholder.must')+ t('view.placeholder.tel')+ t('view.placeholder.integer'), autocomplete: "tel" %></td>
    </tr>

    <tr class="field">
      <td><%= f.label :address, t('view.address') %></td>
      <td><%= f.text_area :address, placeholder: t('view.placeholder.must')+ t('view.placeholder.address'), autocomplete: "address" %></td>
    </tr>

    <tr class="field">
      <td><%= f.label :access, t('view.access') %></td>
      <td><%= f.text_area :access, placeholder: t('view.placeholder.access'), autocomplete: "access" %></td>
    </tr>

    <tr class="field">
      <td><%= f.label :introduction, t('view.introduction') %></td>
      <td><%= f.text_area :introduction, placeholder: t('view.placeholder.introduction'), autocomplete: "introduction" %></td>
    </tr>

    <tr class="field">
      <td><%= f.label :images %></td>
      <td colspan="2">
        <%= f.file_field :images, multiple: true, direct_upload: true %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= t('view.placeholder.images_rules') %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= t('view.check_delete') %>
      </td>
    </tr>
    <tr>
      <% if @hospital.images.attached? %>
        <td colspan="3">
          <% @hospital.images.each do |image| %>
            <div class="inline-block">
              <%= f.check_box :image_ids, { multiple: true }, image.id, false %>
              <%# for属性の値をinputタグのid名と一致させることで、要素が連動する。%>
              <label for="hospital_image_ids_<%= image.id %>" >
                <%= image_tag image.variant(resize_to_limit: [200, 200]) %>
              </label>
            </div>
          <% end %>
        </td>
      <% end %>
    </tr>
  </table>

  <div class="field">
    <p>
      <%= f.label :hospital_label, t('view.hospital_label') %>
      <span class="small_font"><%= t('view.must_select') %></span>
    </p>
    <%= f.collection_check_boxes :hospital_label_ids, HospitalLabel.all, :id, :name %>
  </div>

  <%= f.submit %>
<% end %>

<%= link_to t('view.back'), :back, class: "button_06", role: "button" %>