<%= form_with(model: @hospital, local: true) do |f| %>

  <div class="field">
    <%= f.label :name, t('view.hospital') + t('view.name_of') %>
    <%= f.text_field :name, placeholder: t('view.must'), autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email, t('view.email') %>
    <%= f.email_field :email, placeholder: t('view.must'), autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :tel, t('view.tel') %>
    <%= f.text_field :tel, placeholder: t('view.must'), autocomplete: "tel" %>
  </div>

  <div class="field">
    <%= f.label :address, t('view.address') %>
    <%= f.text_field :address, placeholder: t('view.must'), autocomplete: "address" %>
  </div>

  <div class="field">
    <%= f.label :access, t('view.access') %>
    <%= f.text_field :access, placeholder: "", autocomplete: "access" %>
  </div>

  <div class="field">
    <%= f.label :introduction, t('view.introduction') %>
    <%= f.text_field :introduction, placeholder: "", autocomplete: "introduction" %>
  </div>

  <%
=begin
%>
  <div class="field">
    <%= f.label :image, t('view.image') %>
    <%= image_tag(@hospital.image.url) if @hospital.image && @hospital.image.url %>
    <%= f.file_field :image, autocomplete: "image" %>
    <%= f.hidden_field :image_cache %>
  </div>
  <%
=end
%>

  <div class="field">
    <p><%= f.label :hospital_label, t('view.hospital_label') %></p>
    <% @hospital_labels.all.each do |label| %>
      <%= f.check_box :hospital_label_ids,
        { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false}, label[:id], "" %>
      <label><%= label.name %></label>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>

<button>
  <%= link_to t('view.back'), :back %>
</button>