
<div>
  <div class="inline-block">
    <h3><%= @hospital.name %></h3>
  </div>

  <div class="inline-block">
    <%= link_to t('view.waiting'), health_interviews_path(@hospital), class: "btn btn-outline-success" %>

    <% if patient_signed_in? %>
      <% if @favorite_hospital.present? %>
        <%= link_to t('view.favorite') + t('view.cancel'), favorite_hospital_path(id: @favorite_hospital.id), method: :delete, class: "btn btn-warning", role: "button" %>
      <% else %>
        <%= link_to t('view.favorite') + t('view.addition'), favorite_hospitals_path(hospital_id: @hospital.id), method: :post, class: "btn btn-outline-warning", role: "button" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="index_area">
  <table>
    <tr>
      <th><%= t('view.address') %></th>
      <td><%= @hospital.address %></td>
    </tr>
    <tr>
      <th><%= t('view.access') %></th>
      <td><%= @hospital.access %></td>
    </tr>
    <tr>
      <th><%= t('view.introduction') %></th>
      <td><%= @hospital.introduction %></td>
    </tr>
    <tr>
      <th><%= t('view.tel') %></th>
      <td><%= @hospital.tel %></td>
    <tr>
      <th><%= t('view.email') %></th>
      <td><%= @hospital.email %></td>
    </tr>
    <tr>
      <th><%= t('view.hospital_label') %></th>
      <td>
        <% @hospital.hospital_labels.each do |label| %>
          <%= label.name %>
        <% end %>
      </td>
    </tr>
    <% if staff_signed_in? && current_staff.admin? && current_staff.hospital_id == @hospital.id %>
      <tr>
        <th>
          <%= link_to t('view.patient') + t('view.index'), patients_path, id: "patient-index"  %>
        </th>
      </tr>
      <tr>
        <th>
          <%= link_to t('view.staff') + t('view.index'), staffs_path(@hospital), id: "staff-index" %>
        </th>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to t('view.back'), :back, class: "button_06", role: "button" %>


<% if (staff_signed_in? && current_staff.admin? && current_staff.hospital_id == @hospital.id) || master_signed_in? %>
  <div>
    <%= link_to t('view.edit'), edit_hospital_path(@hospital), id: "hospital-edit", class: "btn btn-primary", role: "button" %>
    <%= link_to t('view.destroy'), hospital_path(@hospital), method: :delete, data: { confirm: t('confirm.delete') }, id: "hospital-destroy", class: "btn btn-danger", role: "button" %>
  </div>
<% end %>

<% if !(patient_signed_in? || staff_signed_in? || master_signed_in?)  %>
  <%= link_to t('view.staff') + t('view.only'), new_staff_session_path, id: "staff-sign_in", class: "btn btn-outline-primary", role: "button" %>
<% end %>





