<h3><%= t('view.hospital') + t('view.show') %></h3>

<button type="button" class="btn btn-outline-primary">
  <%= link_to t('view.waiting'), health_interviews_path(@hospital) %>
</button>

<% if patient_signed_in? %>
  <% if @favorite_hospital.present? %>
    <%= link_to t('view.favorite') + t('view.cancel'), favorite_hospital_path(id: @favorite_hospital.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to t('view.favorite') + t('view.addition'), favorite_hospitals_path(hospital_id: @hospital.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %><br />

<%#= image_tag @hospital.image.url %>

<h2><%= @hospital.name %></h2>
<table>
  <tr>
    <th><%= t('view.address') %></th>
    <td><%= @hospital.address %></td>
  </tr>
  <tr>
    <th><%= t('view.access') %></th>
    <td><%= @hospital.access %></td>
  </tr>
  <tr>
    <th><%= t('view.introduction') %></th>
    <td><%= @hospital.introduction %></td>
  </tr>
  <tr>
    <th><%= t('view.tel') %></th>
    <td><%= @hospital.tel %></td>
  <tr>
    <th><%= t('view.email') %></th>
    <td><%= @hospital.email %></td>
  </tr>
  <tr>
    <th><%= t('view.hospital_label') %></th>
    <td>
      <% @hospital.hospital_labels.each do |label| %>
        <%= label.name %>
      <% end %>
    </td>
  </tr>
</table><br />

<button><%= link_to t('view.back'), :back %></button>

<% if !(patient_signed_in? || staff_signed_in? || master_signed_in?)  %>
  <%= link_to t('view.staff') + t('view.only'), new_staff_session_path, id: "staff-sign_in" %>
<% end %>

<% if staff_signed_in? && current_staff.admin? && current_staff.hospital_id == @hospital.id %>
  <p>
    <%= link_to t('view.patient') + t('view.index'), patients_path, id: "patient-index"  %>
  </p>
  <p>
    <%= link_to t('view.staff') + t('view.index'), staffs_path(@hospital), id: "staff-index" %>
  <% end %>
  <% if (staff_signed_in? && current_staff.admin? && current_staff.hospital_id == @hospital.id) || master_signed_in? %>
    <%= link_to t('view.edit'), edit_hospital_path(@hospital), id: "hospital-edit" %>
    <%= link_to t('view.destroy'), hospital_path(@hospital), method: :delete, data: { confirm: t('confirm.delete') }, id: "hospital-destroy" %>
  </p>
<% end %>



