<h3><%= t('view.healthinterviews') + t('view.index') %></h3>

<% if patient_signed_in? && (!@reserved.present? || (@last_status.done? || @last_status.noshow? || @last_status.complete?)) %>
  <%= link_to t('view.new') + t('view.reception'), new_health_interview_path(@hospital), id: "new_health_interview_btn" %>
<% end %>
<br><br>

  <ul>
    <div class="callinglist">
      <th><%= t('view.calling') %></th>
      <% if @health_interviews_1.present? %>
        # render
      <% end %>
    </div>
    <hr>
    <div class="initiallist">
      <% if @health_interviews_0.present? %>
        # render
      <% end %>
    </div>
    <hr>
    <div class="pendinglist">
      <th><%= t('view.pending') %></th>
      <% if @health_interviews_3.present? %>
        # render
      <% end %>
    </div>
  </ul>


<% if staff_signed_in? %>
  <%= link_to t('view.hide') + t('view.index'), done_hospital_health_interviews_path %>
<% end %>