<h3><%= @hospital.name %></h3>
<h3><%= t('view.healthinterviews') + t('view.index') %></h3>

<% if patient_signed_in? && (!@reserved.present? || (@last_status.done? || @last_status.noshow? || @last_status.complete?)) %>
  <%= link_to t('view.new') + t('view.reception'), new_health_interview_path(@hospital), id: "new_health_interview_btn" %>
<% end %>
<br><br>

<div id: ''>
  <ul>
    <div class="callinglist">
      <p><%= t('view.calling') %></p>
      <% if @health_interviews_1.present? %>
        <%= tag.div date: { hospital_id: @hospital.id, sort_status: "calling" }.to_json, id: "num-list" %>
      <% end %>
    </div>
    <hr>
    <div class="initiallist">
      <% if @health_interviews_0.present? %>
        <%= tag.div date: { hospital_id: @hospital.id, sort_status: "initial" }.to_json, id: "num-list" %>
      <% end %>
    </div>
    <hr>
    <div class="pendinglist">
      <p><%= t('view.pending') %></p>
      <% if @health_interviews_3.present? %>
        <%= tag.div date: { hospital_id: @hospital.id, sort_status: "pending" }.to_json, id: "num-list" %>
      <% end %>
    </div>
  </ul>
</div>


<% if staff_signed_in? %>
  <%= link_to t('view.hide') + t('view.index'), done_hospital_health_interviews_path %>
<% end %>

<%= javascript_pack_tag 'health_interviews_index_controller' %>
<%#= stylesheet_pack_tag 'health_interviews_index_controller' %>