<%= form_with(model: [@health_interview], local: true) do |f| %>

  <% unless @history.present? %>
  <h3><%= t('view.new_healthinterview') + t('view.first') %></h3>

    <%# 次作ではage,gender,(condition?)はPatientのカラムとして登録させる %>
    <div class="field">
      <%= f.label t('view.age') %>
      <%= f.text_field :age, placeholder: t('view.placeholder.integer'), size: 3 %>
    </div>

    <div class="field">
      <%= f.label t('view.gender') %>
      <%= f.collection_radio_buttons :gender, HealthInterview.genders_i18n, :first , :last %>
    </div>

    <div class="field">
      <%= f.text_area :symptomatology, placeholder: t('view.placeholder.symptomatology') %>
    </div>

    <div class="field">
      <%= f.text_area :condition, placeholder: t('view.placeholder.condition') %>
    </div>

  <% else %>
  <h3><%= t('view.new_healthinterview') + t('view.second') %></h3>

    <div class="field">
      <%= f.text_area :symptomatology, placeholder: t('view.placeholder.symptomatology') %>
    </div>
  <% end %>

  <%= f.fields_for :guide_status do |s| %>
    <%= s.hidden_field :status, value: "initial"  %>
  <% end %>

  <div class="field">
    <%= f.submit t('view.apply')%>
  </div>
<% end %>

<%= link_to t('view.back'), :back %>