<h3><%= t('view.payment') + t('view.edit') %></h3>

<%= form_with(model: [@health_interview]) do |f| %>

  <p align="center">No.【<%= @health_interview.id %>】</p>


  <div class="field">
    <%= f.fields_for :guide_status do |s| %>
      <%= s.label t('view.status') %>
      <%= s.select :status,
        GuideStatus.statuses.keys.map {|k| [I18n.t("enums.guide_status.status.#{k}"), k]} %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label t('view.price') %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.submit data: { confirm: t('confirm.change_status') }, id: "submit" %>
  </div>
<% end %>

<%= link_to t('view.back'), :back %>