<div>
  <div class="inline-block">
    <h3><%= @hospital.name %></h3>
    <h3><%= t('view.reservation') + t('view.index') %></h3>
  </div>
  <% if staff_signed_in? %>
    <%= link_to t('view.reverse'), reverse_health_interviews_path(@hospital.id), class: "btn btn-outline-primary", role: "button" %>
  <% end %>
</div>

<div class="index_area">
  <% if patient_signed_in? && (!@reserved.present? || (@last_status.noshow? || @last_status.complete?)) %>
    <div class="button_line004">
      <%= link_to t('view.new') + t('view.reception'), new_health_interview_path(@hospital), id: "new_health_interview_btn" %>
    </div>
  <% end %>

  <%= tag.div id: "list-set", data: { hospital_id: @hospital.id }.to_json %><%# date属性の秘匿性要検討 %>
</div>

<%= link_to t('view.hospital') + t('view.show'), hospital_path(@hospital), class: "button_06", role: "button" %>

<%= javascript_pack_tag 'health_interviews_index' %>
<%= stylesheet_pack_tag 'health_interviews/index' %>