<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header id="rising">
      <nav>
        <%= render "layouts/global_navi" %>
      </nav>
    </header>
    <section>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </section>
    <section class="container">
      <%= yield %>
    </section>
    <footer>
      <div align="center">
        <p>DIVE INTO CODE WEF2103</p>
      </div>
    </footer>
  </body>
</html>
